<!DOCTYPE html>
<!-- Developed By: Aditya N. Tripathi | www.adityatd.me | me sad meme xDDDD (Jacz was here) -->
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PenguBot is a Multi-Purpose Discord Bot based on a Penguin from Antartica who's 2 years old with features like Custom Commands, Moderation, Utilities and More!">
    <meta name="identifier-url" content="https://www.pengubot.com/">
    <meta name="keywords" content="pengubot commands, pengu, pengubot, penguin, discord, discord bot, pengu bot, discord pengu, discord bots, discordbot, bots, bot, nodejs, mariadb, git, discord commands, commands, help commands, command help, discord bot help">
    <meta name="revisit-after" content="7">
    <meta name="language" content="EN">
    <meta name="copyright" content="© 2017 PenguBot">
    <meta name="robots" content="All">
    <meta name="author" content="AdityaTD & Jacz">
    <meta property="og:title" content="PenguBot">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.pengubot.com/">
    <meta property="og:image" content="https://i.imgur.com/zAr02uR.png">
    <meta property="og:description" content="Learn about PenguBot Commands, how to use them and which commands are available to use, etc.">
    <link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/zAr02uR.png">



    <title>Commands | PenguBot</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45058479-16"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-45058479-16');
    </script>


    <!--Import Icon Fonts-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="grey lighten-3">
    <nav>
        <div class="nav-wrapper blue darken-2 z-depth-3">
            <div class="container">
                <a href="#!" class="brand-logo">PenguBot</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="/">
                            <i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="active">
                        <a href="/commands">
                            <i class="fa fa-terminal"></i> Commands</a>
                    </li>
                    <li>
                        <a href="/donate">
                            <i class="fa fa-dollar"></i> Donate</a>
                    </li>
                    <li>
                        <a onclick="Materialize.toast('Coming Soon!', 4000)">
                            <i class="fa fa-cogs"></i> Dashboard</a>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li>
                        <a href="/">
                            <i class="fa fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a onclick="Materialize.toast('Coming Soon!', 4000)">
                            <i class="fa fa-terminal"></i> Commands</a>
                    </li>
                    <li class="active">
                        <a href="/donate">
                            <i class="fa fa-dollar"></i> Donate</a>
                    </li>
                    <li>
                        <a onclick="Materialize.toast('Coming Soon!', 4000)">
                            <i class="fa fa-cogs"></i> Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main Content -->
    <div class="container">
        <h1 class="center grey-text text-darken-3">
            <i class="fa fa-terminal"></i> Commands </h1>
        <div class="divider black lighten-2"></div><br/>
        <div class="row">
            <div class="col s6 m4">
                <div class="card blue darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">Command 1</span>
                        <p>This is the First Command</p>
                    </div>
                    <div class="card-action white-text blue darken-4">
                        Syntax:<br/>
                        Example:<br/>
                        Aliases:<br/>
                    </div>
                </div>
            </div>
            <div class="col s6 m4">
                <div class="card blue darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">Command 2</span>
                        <p>This is the Second Command</p>
                    </div>
                    <div class="card-action white-text blue darken-4">
                        Syntax:<br/>
                        Example:<br/>
                        Aliases:<br/>
                    </div>
                </div>
            </div>
            <div class="col s6 m4">
                <div class="card blue darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">Command 3</span>
                        <p>This is the Third Command</p>
                    </div>
                    <div class="card-action white-text blue darken-4">
                        Syntax:<br/>
                        Example:<br/>
                        Aliases:<br/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Made With ❤ in India & Australia</h5>
                    <p class="grey-text text-lighten-4">PenguBot was originally started by AdityaTD in India and then Jacz joined who's from Australia so this
                        project belongs to two countries.</p>
                    <div class="divider grey lighten-4"></div>
                    <p class="grey-text text-lighten-4">
                        <strong> Notice User Data: </strong>

                        By using this bot and adding it to your server, you and your server members agree that this bot may collect User Data.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="/">Home</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#" onclick="Materialize.toast('Coming Soon!', 5000)">Commands</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="/donate">Donate</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#" onclick="Materialize.toast('Coming Soon!', 5000)">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright grey darken-3">
            <div class="container">
                © 2017 PenguBot | Site By:
                <a style="color: #fff;" href="https://www.adityatd.me">Aditya N. Tripathi</a>
                <i class="grey-text text-lighten-4 right">We are not affiliated with Discord or Hammer & Chisel Inc.</i>
            </div>
        </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>