<!DOCTYPE html>
<!-- Developed By: Aditya N. Tripathi | www.adityatd.me | me sad meme xDDDD (Jacz was here) -->
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PenguBot is a Multi-Purpose Discord Bot based on a Penguin from Antartica who's 2 years old with features like Custom Commands, Moderation, Utilities and More!">
    <meta name="identifier-url" content="https://www.pengubot.com/">
    <meta name="keywords" content="pengu, pengubot, penguin, discord, discord bot, pengu bot, discord pengu, discord bots, discordbot, bots, bot, nodejs, mariadb, git, pengu help, pengubot help, pengubot commands">
    <meta name="revisit-after" content="7">
    <meta name="language" content="EN">
    <meta name="copyright" content="© 2017 PenguBot">
    <meta name="robots" content="All">
    <meta name="author" content="AdityaTD & Jacz">
    <meta property="og:title" content="PenguBot">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.pengubot.com/">
    <meta property="og:image" content="https://i.imgur.com/zAr02uR.png">
    <meta property="og:description" content="PenguBot is a Multi-Purpose Discord Bot based on a Penguin from Antartica who's 2 years old with features like Custom Commands, Moderation, Utilities and More!">
    <link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/zAr02uR.png">



    <title>Home | PenguBot</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45058479-16"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-45058479-16');
    </script>


    <!--Import Icon Fonts-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="grey lighten-3">
    <nav>
        <div class="nav-wrapper blue darken-2 z-depth-3">
            <div class="container">
                <a href="#!" class="brand-logo">PenguBot</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li class="active">
                        <a href="/">
                            <i class="fa fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a onclick="Materialize.toast('Coming Soon!', 4000)">
                            <i class="fa fa-terminal"></i> Commands</a>
                    </li>
                    <li>
                        <a href="/donate">
                            <i class="fa fa-dollar"></i> Donate</a>
                    </li>
                    <li>
                        <a onclick="Materialize.toast('Coming Soon!', 4000)">
                            <i class="fa fa-cogs"></i> Dashboard</a>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li class="active">
                        <a href="/">
                            <i class="fa fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a onclick="Materialize.toast('Coming Soon!', 4000)">
                            <i class="fa fa-terminal"></i> Commands</a>
                    </li>
                    <li>
                        <a href="/donate">
                            <i class="fa fa-dollar"></i> Donate</a>
                    </li>
                    <li>
                        <a onclick="Materialize.toast('Coming Soon!', 4000)">
                            <i class="fa fa-cogs"></i> Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="parallax-container valign-wrapper">
        <div class="parallax pickgradient">
            <img src="https://i.imgur.com/Urfp335.png">
        </div>
        <div class="row center-align flow-text">
            <h2 class="header white-text">PenguBot</h2>
            <p class="grey-text white-text">A Multi-Purpose Discord Bot</p>
            <a class="waves-effect waves-light btn-large blue darken-2" href="#learn">Learn More</a>
        </div>
    </div>

    <div id="learn" style="padding-bottom: 20px;" class="row grey darken-4 valign-wrapper">
        <div class="col s12 white-text center">
            <div class="container">
                <h4>Hi, I'm Pengu and I ❤ to Hangout on Discord!</h4>
                <br/>
                <a href="https://bit.ly/PenguBotInvite" class="waves-effect waves-light btn-large blue darken-2">Invite @PenguBot</a>
                <br/>
                <br/>
                <a href="https://discord.me/pengubot" class="waves-effect waves-light btn-large blue darken-2">Join Our Official Guild</a>
            </div>
        </div>
        <div class="col s12 hide-on-med-and-down gif" id="gif">
            <br>
            <img class="right z-depth-4" style="height: 100%; width: 100%; border-radius: 20px 0 0 20px;" src="https://i.imgur.com/SH6V0vv.gif">
        </div>
    </div>

    <div style="padding-bottom: 40px;" class="row white">
        <br/>
        <h4 class="center-align">Entertaining The Population</h4>
        <br/>
        <div class="container">
            <div class="col s12 l6">
                <img class="z-depth-3" style="height: 100%; width: 100%; border-radius: 10px;" src="https://i.imgur.com/CaTNchV.png">
            </div>
            <br class="show-on-med-and-up" />
            <div class="col s12 l6">
                <h5 class="center">Jokes, Insults, Cookies?</h5>
                <blockquote style="border-left: 5px solid #0084FF;">Use Pengu to read some "funny" Dad Jokes, Get some random comics to gag on.</blockquote>
                <blockquote style="border-left: 5px solid #0084FF;">Punch, Kiss, Hug, send cookies and much more to show your love towards others. And much more!</blockquote>
                <blockquote style="border-left: 5px solid #0084FF;">Insult, Compliment and make Pengu say whatever you want. Limitless fun just one click away.</blockquote>
            </div>
        </div>
    </div>

    <div style="padding-bottom: 20px;" class="row white-text indigo accent-2">
        <br/>
        <div class="col s12">
            <div class="container">
                <h4 class="center-align">Custom Configs and Profiles</h4>
                <div class="col s12 l6">
                    <h5 class="center">Commands, Prefix and What?</h5>
                    <blockquote style="border-left: 5px solid #E4F2FF;">Create Custom Commands, have Custom Prefix per guild.</blockquote>
                    <blockquote style="border-left: 5px solid #E4F2FF;">Have Custom Profile Pages, Titles, Reps, and much more.</blockquote>
                    <blockquote style="border-left: 5px solid #E4F2FF;">Snowflakes? Experience and Levels? Can't say much about them yet haha</blockquote>
                </div>
                <div class="col s12 l6">
                    <img class="z-depth-3" style="height: 100%; width: 100%; border-radius: 10px;" src="https://i.imgur.com/dCs09kX.png">
                    <br />
                </div>
                <h4 class="center">And Much Much More!!</h4>
            </div>
        </div>
    </div>

    <div class="row white" style="padding-top: 20px; padding-bottom: 40px;">
        <div class="container">
            <h4 class="center">Meet The Team</h4>
            <div class="col s12 l6">
                <center>
                    <img class="z-depth-4" style="height: 120px; width: 120px; border-radius: 100%;" src="https://cdn.discordapp.com/avatars/136549806079344640/9b44d1d6fd69f95dbc067cb2eec35f00.png?size=2048">
                    <h5>AdityaTD</h5>
                    <p>Founder & Developer</p>
                    <a href="https://www.adityatd.me/">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://twitter.com/adityatripathid">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.youtube.com/c/AdityaTD">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </center>
                <br/>
            </div>
            <div class="col s12 l6">
                <center>
                    <img class="z-depth-4" style="height: 120px; width: 120px; border-radius: 100%;" src="https://cdn.discordapp.com/avatars/272689325521502208/a_fc6b0e9992f1f2148f82ab9cd4f028ac.gif?size=2048">
                    <h5>Jacz</h5>
                    <p>Developer & Manager</p>
                    <a href="https://jaczaus.me/">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://twitter.com/Jaczaus">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.youtube.com/channel/UCYRsLAcWd-DfUdxh3uDkN2Q">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </center>
            </div>
        </div>
    </div>

    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Made With ❤ in India & Australia</h5>
                    <p class="grey-text text-lighten-4">PenguBot was originally started by AdityaTD in India and then Jacz joined who's from Australia so this
                        project belongs to two countries.</p>
                    <div class="divider grey lighten-4"></div>
                    <p class="grey-text text-lighten-4">
                        <strong> Notice User Data: </strong>

                        By using this bot and adding it to your server, you and your server members agree that this bot may collect User Data.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="/">Home</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#" onclick="Materialize.toast('Coming Soon!', 5000)">Commands</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="/donate">Donate</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#" onclick="Materialize.toast('Coming Soon!', 5000)">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright grey darken-3">
            <div class="container">
                © 2017 PenguBot | Site By:
                <a style="color: #fff;" href="https://www.adityatd.me">Aditya N. Tripathi</a> & <a style="color: #fff;" href="https://jaczaus.me">Jacz</a>
                <i class="grey-text text-lighten-4 right">We are not affiliated with Discord or Hammer & Chisel Inc.</i>
            </div>
        </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>
