@import "variables.scss";
body,
html {
  background: $background-color;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  pointer-events: none;
}

@import "helpers.scss";
@import "scrollbar.scss";